h1{
    font-size: 50px;
}
p{
    color: dimgray;
}
.orange-highlight{
    color: brown;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 50%; 
    margin-left: 10%;   
}
.top-banner{
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
  background-position: left;
  }
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-color: rgb(208, 0, 125);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.Deram Big{
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  }
.single-experiences{
  background-color: white;
  box-shadow: 10px 10px 50px gray;
  border-radius: 5px;
  height: 50%;
}
.experiences-area{
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#Full-Stack{
  border-left: 7px solid;
  border-image: linear-gradient(rgb(111, 10, 227), rgb(65, 31, 25));
  border-image-slice: 1;
} 
#Baby-Web{
  border-left: 7px solid;
  border-image: linear-gradient(rgb(53, 145, 32), rgb(65, 31, 25));
  border-image-slice: 1;
}
footer p{
 text-align: center;
}
.single{
  background-color: white;
  box-shadow: 10px 10px 50px rgb(76, 88, 121);
  border-radius: 5px;
  height: 6%;
}